.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.srt
.env
*.ts, 
*.mov
.venv
vosk-model-small-hi-0.22/
partial_movie_file_list.txt
.vscode
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
images/
**/*.mp4
**/*.mov
**/*.ts
*.mp3
*.wav
*.m4a
*.m4v
*.m4b
*.m4p
*.m4r
*.m4v
*.m4b
*.m4p